@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=The+Nautigal&display=swap');
div{
    background-color: rgb(113, 227, 247);
    width: 50%;
    margin-left: 300px;  
}
h1{
    font-family: 'Island Moments', cursive;
    font-size: xx-large;
}
p{
    font-family: 'The Nautigal', cursive;
    font-size: xx-large;

}
body{
    background-image: url(./image/image3.jpg);
    background-size: cover;
    /* background-repeat:no-repeat ; */
}